.navbar {
  background-color: rgb(287, 187, 39);
  height: 150px; /* Set a fixed height for the navbar */
  display: flex;
  align-items: center; /* Center content vertically */
  padding: 0 1rem; /* Add horizontal padding */
}

.navbar-logo {
  height: 150px; /* Adjust the logo height */
}
