.navbar {
  background-color: rgb(287, 187, 39);
  height: auto; /* Allow the height to adjust dynamically */
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative; /* Remove sticky behavior */
  z-index: 1000;
}

.navbar-logo {
  height: 150px; /* Adjust the logo height */
}

.navbar-collapse {
  transition: height 0.3s ease;
}
